/* General styling for all pages */

.menu-container {
	display: flex;
	justify-content:center;
	color: #ffffff;
	background-color: #3B3738; 
  	padding: 20px 0; 
	font-family: Baufra;
	font-size: 20px;
	margin-bottom: 50px;
}

.menu {
	width: 900px;
	height: 30px;
	display: flex;
	justify-content: space-around;
}

.profile-container {
	min-height:100vh;
	font-family: Palantino;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}

.profile{
	flex: initial;
	height:330px;
	width: 34%;
	padding-left: 20px;
}

.profile > img{
	border: 20px solid hsla(0, 0%, 100%, 0.3);
	background-clip: padding-box;
	padding: 15px;
}

.header {
	flex: initial;
	flex-direction: column;
	width: 66%;
	padding-top: 100px;
	padding-left: 10px;
}

.bio-header {
	width: 32%;
	padding-top: 100px;
	padding-left: 10px;
	padding-right: 50px;
}

.bio-header > h1 {
	text-align: center;
}

.content {
	align-items: flex-start;
	width: 60%;
	background: repeating-linear-gradient(40deg, #48D1CC, #48D1CC 15px, #58a 0, #58a 30px);
	background-size: cover;
	padding: 10px;
}

.content > p {
	font-family: Vollkorn;
	background-color: rgba(255,255,255,0.8);
	margin:5px;
	padding: 20px;
	font-size: 20px;
	text-align: left;
}

body {
	background: linear-gradient(
		to right,
		#74AFAD 0%,
		#74AFAD 34%, 
		#ff9e2c 34%, 
		#ff9e2c 100% 
	);
}

a {
	text-decoration: none;
	font-weight: bold;
	color: #ffffff;
}

.bottom-line {
	padding-bottom: 10px;
	border-bottom: 2px solid #000000;
}
	
.resume {
	background-color: rgba(255,255,255,0.8);
}

.resume > h1 {
	text-align: center;
	padding-top: 30px;
}

.resume > h2, h3, p, ul {
	padding-left: 50px;
}

.resume > h2 {
	font-size: 25px;
}
.resume > h3, p, ul {
	font-size: 20px;
}

.resume > ul {
	padding-bottom: 10px;
}