/* style sheet for Steph Xu's website */

p {
	font-size: 28px;
	color: #7FFFFF;
}

/* 
	line 3-7 is one CSS *rule*
	'p' (line 3) -> selector
	'font-size: 28px;" -> declaration, a.k.a., property-value pair
	
	CSS selectors:
	1) HTML element name
	2) ID
	3) Class
*/

h1 {
	text-align: center;
}

body {
	font-family: Helvetics, Arial, sans-serif;
	background-color: #007FFF; /* Azure = blue-green*/
}